.cms-section.custom-empty-state .c-empty-state-title {
	margin-top: 0;
}

.cursor-pointer {
	cursor: pointer;
}

.cms-fds-card .container-fluid {
	padding: 0;
}

.cms-fds-card .table-responsive {
	margin-bottom: 0;
}

.cms-fds-card .visualization-mode-table {
	border: 0 !important;
	margin-inline: -1rem;
}

.cms-fds-card .table-list {
	border-bottom: 0;
	border-left: 0;
	border-radius: 0 0 10px 10px;
	border-right: 0;
	margin-bottom: 0;
}
