.cms-section.custom-empty-state .c-empty-state-title {
	margin-top: 0;
}

.cursor-pointer {
	cursor: pointer;
}

.cms-fds-card .container-fluid {
	padding: 0;
}

.cms-fds-card .table-responsive {
	margin-bottom: 0;
}

.cms-fds-card .visualization-mode-table {
	border: 0 !important;
	margin-inline: -1rem;
}

.cms-fds-card .table-list {
	border: 0;
	margin-bottom: 0;
}

.cms-fds-card .table-list thead {
	display: none;
}

.cms-fds-card .table-list .cell-item-actions {
	width: 10% !important;
}
